
// Colors variations

$primary-color:#003A92;
$gray-color:#F2EFEE;
$red-color:#8C2531;
$beig-color:#D7C3AE;
$dark-gray:#3C3C3C;
$white-color:#fff;
$gretPurt:#74788A;

// Font-family
$base-font-family: "Literata-Regular";
$alt-font-family: 'Inter';


//spacing//
$section-sapce:3em;
$section-sapce-sm:0.5em;